
/* Hero header */

.header-text {
    font-size: 5em;
    text-align: center;
  
  }
  .subheader {
    font-size: 2em;
    text-align: center;
  }
  
  .cta{
    text-align: center;
    margin-top: 4em;
    padding: 2em;
  }
  .cta a {
    color:  #F16334 !important;
  }
  .arrow{
    position: absolute;
    left: 616px;
    top: 512px;
  
  }