/* navbar styling */

img.navbarimage {
  height: 3rem;
}

.navbar-light .navbar-nav .nav-link {
  color: #F16334 !important;
  font-weight: 600;
}
.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.5);
  border-color: white !important;
}
.navbar-nav{
  text-align: center;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: #01134A;
  font-weight: 600;
}
  /* navbar styling ends */

  /* Hamburger animation start */
 .navbar-toggler {
    border: none;
    background: transparent !important;
    /* border-color: rgb(241,99,52) !important; */
    /* color: #F16334; */
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(241,99,52, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }
