

/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



/* Hero header */
.hero{
  height: 650px;
}
.hero h1 {
  font-size: 5em;
  /* margin: .67em 0; */
  text-align: center;

}
.hero p {
  text-align: center;
}


.arrow{
  position: absolute;
  width: 48px;
  height: 48px;
  left: 616px;
  top: 512px;

}

/* Contact */
input {
  background-color: #000 !important;
}

textarea {
  background-color: #000 !important;
}