

/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* dance formula */
.dance {
  transform: translateY(0px);
  transition: .5s;

}

.dance:hover {
  transform: translateY(-10px);
  transition: .5s;
  text-decoration: none;
}
/* dance formula ends */


/* Button */
.btn-primary {
  background-color: #F16334 !important;
  border-color: #F16334 !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #0C5061 !important;
  border-color: #0c5061 !important;
}

/* Button ends*/


/* Dark mode */
@media (prefers-color-scheme: dark) {
  /* custom css */
  body{
    background-color: #1c1c1c;
    color: #fefefe
  }
  a{
    color: #F16334 !important;
  }
  img{
    filter:grayscale(20%);
  }
  
}